/*******************************
        Global - ewalex with Hotdog
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
  padding: 5px;
  position: absolute;
  background: #FDFDFD;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px 20 0px 5px;
  color: #336633;
  width: 320px;
}

.ui.footer {
  font-family: 'Comic Sans Pro', "Georgia", sans-serif;
}

#king_julien .sidebar {
  overflow: visible;
}

/*-------------------
--------------------*/

}

}

#feed .CX.Entrada.tab :hover {
  background-color: #FDD;
  left: 40px;
  backgroud: #F0C;
  border: none;
}

  padding-top: 1rem;
  padding-bottom: 1rem;
}

  margin-top: 0.2rem;
}

  margin-left: 2em;
}

#king_julien .page {
  float: right;
}

  padding: 1em 2em;
}

  margin-top: 0em;
}
/*rtl:ignore*/
  padding: 1em 2em;
  background-color: #FAFAFA;
}
